[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-heroku = "*"
django-debug-toolbar = "*"
django-filter = "*"
dj-email-url = "*"
whitenoise = "*"
django-widget-tweaks = "*"
django-versatileimagefield = "*"
django-autoslug = {git = "https://github.com/iplweb/django-autoslug-iplweb.git", ref = "be379b83d90725b882c2ed38c9279167e69b6c7f"}

[dev-packages]
coverage = "*"
factory-boy = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-selenium = "*"
isort = "*"

[requires]
python_version = "3.6"
