[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-heroku = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-versatileimagefield = "*"

[dev-packages]
coverage = "*"
factory-boy = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-selenium = "*"
isort = "*"

[requires]
python_version = "3.6"
