html{
    overflow-y: auto;
}
.logo {
    font-family: 'Luckiest Guy', cursive;
}

.navbar {
    height: 3.5rem;
}

.foot {
    font-size: 2rem;
}

.center {
    text-align: center;
}

.foot-icon {
    font-size: 1.5em;
    color: black;
}
.error-icon{
    font-size: 4rem;
    color: black;
}
.dates {
    border-left: 1px solid;
}
.eror404title{
font-size: 5rem;
}
.eror404subtitle{
    font-size: 1.5rem;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main{
    flex-grow: 1;
}
.fixed-height .card{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.fixed-height .card .card-content{
    height: 100%;
}
.form-fiel{
    width: 100%;
}