<div class="control">
    <dl>
        <dt>
            <h1 class="title">{{title}}</h1>
        </dt>
        <dt>
            <label class="radio">
                <input type="radio" id="{{name}}" class="{{name}}" name="{{name}}" value="" {% if None == selected %} checked {% endif%}> Todos
            </label>
        </dt>
        <dt>
            <label class="radio">
                <input type="radio" id="{{name}}" class="{{name}}" name="{{name}}" value="{{ False }}" {% if False == selected %} checked {% endif%}> Adulto
            </label>
        </dt>
        <dt>
            <label class="radio">
                <input type="radio" id="{{name}}" class="{{name}}" name="{{name}}" value="{{ True }}" {% if True == selected %} checked {%endif%}> Cachorro
            </label>
        </dt>
    </dl>
</div>