{% if messages %}
{% for message in messages %}
<div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Informacion</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
                <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
          </section>
        </div>
      </div>
{% endfor %} {% endif %}