{% extends 'webapp/base.html' %} {% block content %} {% include 'webapp/_navbar.html' %}
<div class="container">
    <div class="content">
        <section class="section">
                <section class="section">
                        <section class="hero ">
                            <div class="hero-body">
                                <div class="container">
                                    <h1 class="title">
                                       ¿Quienes somos?
                                    </h1>
                                </div>
                            </div>
                        </section>

            <p>La Protectora de animales de Vigo es una asociación sin ánimo de lucro fundada en 1993 con la finalidad primordial de
            la defensa y protección de los animales mediante la recogida de perros abandonados, promover su defensa mediante
            campañas de concienciación, divulgación, y la gestión de nuestro refugio. Nuestra actividad principal es el cuidado,
            a todos los niveles, de los animales que viven en nuestro refugio para conseguir que todos ellos se sientan queridos
            y seguros. Aquí vivirán hasta que consigan una familia que les adopte de forma responsable y les asegure un futuro
            feliz y una vida digna. La adopción de nuestros perros requieren de un conocimiento amplio de los adoptantes
            y lo que será el nuevo hogar de nuestros animales. Se trata de lograr satisfacer las necesidades de ambos y que
            la relación que empieza sea definitiva. ¿Por qué estos requisitos? Porque la mayoría de nuestros animales formaron
            en su día parte de una familia pero acabaron abandonados en las calles, en el campo o arrojados a pozos. Todos
            ellos fueron preciosos cachorros que al crecer perdieron “su gracia”. Todos ellos necesitaron un tiempo para
            sus cuidados y paseos que cada vez era más difícil de encontrar. Algunos fueron objeto de camadas criadas de
            forma irresponsable por particulares que al final no se pudieron colocar entre los amigos o vender. Otros muchos
            dejaron de servir a los vergonzosos fines de sus dueños (caza, carreras, peleas…).
            </p>
        </section>
    </div>
</div>
{% endblock content %}