{% extends 'webapp/base.html' %} {% block content %} {% include 'webapp/navbar.html' %}

<section class="section">
  <div class="container">
    <form action="" method="get">
      <h1 class="title is-1 center">
        Encuéntrame
      </h1>
      <input type="submit" value="Filtrar" id="form" class="button is-primary" />
      <div class="columns">
        <div class="column is-4 filter">
          {% include 'filter/filter.html' with field=filter.form.fields.sex name='sex' title='Sexo' selected=request.GET.sex %}
        </div>
        <div class="column is-4 filter">
          {% include 'filter/filter.html' with field=filter.form.fields.animal_type name='animal_type' title='Animal' selected=request.GET.animal_type %}
        </div>
      </div>
    </form>
    <div class='columns is-multiline'>
      {% for animal in animals %}
      <div class='column is-4'>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://loremflickr.com/300/240/dog?random={{animal.pk}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <a class="title is-4" href="{% url 'animal_detail' pk=animal.pk %}">{{animal.name}} {% if animal.state == 'AVAILABLE' %}
                <span class="tag is-success">{{animal.get_state_display}}</span>
                </h1>
                {% else %}
                <span class="tag is-danger">{{animal.get_state_display}}</span>
                </h1>
                {% endif %}
              </a>
            </div>
            <div class="content">
              {{animal.description}}
              <br>
            </div>
            <p>Fecha nacimiento</p>
            <time>{{animal.birth_date}}</time>
            <p>Fecha de llegada</p>
            <time>{{animal.entry_date}}</time>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {% include 'webapp/_pagination.html' %}
</section>
{% endblock content %}