{% extends 'webapp/base.html' %}{% load static from staticfiles %} {% block content %} {% include 'webapp/_navbar.html' %}

<section class="section margin-top">
  <div class="container">
    <form action="" id="form" method="get">
      <h1 class="title is-1 center">
        Mascotas!
      </h1>
      <div class="box">
      <div class="contenedor">
          <div class="item">
            {% include 'filter/_filter.html' with field=filter.form.fields.animal_type name='animal_type' title='Animal' selected=request.GET.animal_type%}
          </div>
          <div class="item">
            {% include 'filter/_filter.html' with field=filter.form.fields.sex name='sex' title='Sexo' selected=request.GET.sex %}
          </div>
          <div class="item">
            {% include 'filter/_filter.html' with field=filter.form.fields.size name='size' title='Tamaño' selected=request.GET.size %}
          </div>
          <div class="item">
              {% include 'filter/_filter.html' with field=filter.form.fields.is_puppy name='is_puppy' title='Edad' selected=request.GET.is_puppy %}
          </div>
        </div>
      </div>        
    </form>
    <div class=" margin-top">
    <div class='columns is-multiline fixed-height'>
      {% for animal in animals %}
      <div class='column is-4-desktop is-half-tablet'>
          <a class="" href="{% url 'animal_detail' slug=animal.slug %}">
        <div class="card ">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ animal.image.crop.470x350 }}" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <a class="title is-4" href="{% url 'animal_detail' slug=animal.slug %}">
                {{animal.name}} {% if animal.state == 'URGENCY' %}
                <span class="tag is-danger">{{animal.get_state_display}}</span>
                {% endif %}
              </a>
            </div>
            <div class="content">
              <p>{{animal.description|truncatechars_html:175 }}</p>
            </div>
            <div class="columns is-mobile">
              <div class="column is-half card-down is-half-mobile">
                <Strong>
                  <label>Animal:</label>
                </Strong>
                {{animal.get_animal_type_display}}
                <br>
                <Strong>
                  <label>Sexo:</label>
                </Strong>
                {{animal.get_sex_display}}
                <br>
                <Strong>
                  <label>Tamaño:</label>
                </Strong>
                {{animal.get_size_display}}
                <br>
              </div>
              <div class="column is-half is-half-mobile">
                <strong>
                  <p>Fecha nacimiento</p>
                </strong>
                <time>{{animal.birth_date}}</time>
              </div>
            </div>
          </div>
        </div>
          </a>
      </div>
      {% endfor %}
    </div>
    </div>

    {% include 'webapp/_pagination.html' %}
</section>
<script src="{% static 'js/filters.js' %}"></script> {% endblock content %}