{% extends 'webapp/base.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% block content %}
{% include 'webapp/_navbar.html' %}
<section class="section margin-top">
    <div class="container">
        <h1 class="title">
            {{animal.name}} {% if animal.state == 'URGENCY' %}
            <span class="tag is-danger">{{animal.get_state_display}}</span>
            {% endif %}
        </h1>
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="{{ animal.image.url }}" />
                </figure>
            </div>
            <div class="column">
                <div class="content is-medium">
                    <h2 class="subtitle is-3">Datos</h2>
                    <div class="columns">
                        <div class="column is-half">
                            <p>
                                <strong> Fecha de nacimiento</strong>
                            </p>
                            <p>{{animal.birth_date}}</p>
                            <p>
                                <strong>Mascota</strong>
                            </p>
                            <p>
                                {{animal.get_animal_type_display}}
                            </p>
                            <p>
                                <strong>Tamaño</strong>
                            </p>
                            <p>
                                {{animal.get_size_display}}
                            </p>
                        </div>
                        <div class="column is-half">
                            <p>
                                <strong>Descripcion</strong>
                            </p>
                            <p>
                                {{animal.description}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content is-medium">
                <p class="subtitle center"><strong>Hablamos sobre {{animal.name}}?</strong></p>
                </div>
                <form method="post" id="contact-form" class="form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="field {% if form.name.errors %}error{% endif %}">
                        <label class="label">Nombre</label>
                        {% render_field form.name|add_class:"input" placeholder='Nombre' %} {{ form.name.errors.0 }}
                    </div>
                    <div class="field {% if form.subject.errors %}error{% endif %}">
                        <label class="label">Asunto</label>
                        {% render_field form.subject|add_class:"input" placeholder='Asunto' value=animal.name %} {{ form.subject.errors.0 }}
                    </div>
                    <div class="field {% if form.email.errors %}error{% endif %}">
                        <label class="label">Email</label>
                        {% render_field form.email|add_class:"input" placeholder='Email' %} {{ form.email.errors.0 }}
                    </div>
                    <div class="field {% if form.message.errors %}error{% endif %}">
                        <label class="label">Mensaje</label>
                        {% render_field form.message|add_class:"textarea" placeholder='Mensaje' %} {{ form.message.errors.0 }}
                    </div>
                    <button class="button is-primary" id="btn-send" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/protect_contact.js' %}"></script>
{% endblock content %}