<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Shelter</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../../../rootfiles/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../rootfiles/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../rootfiles/favicon-16x16.png">
    <link rel="manifest" href="../../../rootfiles/site.webmanifest">
    <link rel="mask-icon" href="../../../rootfiles/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../../../rootfiles/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="../../../../rootfiles/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
    crossorigin="anonymous">
    <script src="{% static 'js/burger.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico"/>
</head>
<body>
    <div class="app">
        <main class="main">
    {% block content %}
    {% endblock %}
</main>
    {% include 'webapp/_footer.html' %}
    </div>
</body>
</html>