{% extends 'webapp/base.html' %}
{% load static from staticfiles %}
{% block content %}
{% include 'webapp/_navbar.html' %}
<div class="container">
    <section class="section">
        <h1 class="title center margin-top">Donaciones</h1>
        <div class="columns fixed-height is-multiline">
            <div class="column is-4-desktop is-12-tablet">
                <label class="title">Para comida</label>
                <div class="content is-medium">
                <p>Nuetros amiguitos tambien necesitan comer y beber</p>
            </div>
                <figure class="image image is-4by3">
                    <img  src='{% static "img/food.jpg" %}' alt="Placeholder image">
                </figure>
                <br>
                <a href="http://www.paypal.com" class="button is-info is-outlined"> Donar para comida</a>
            </div>
            <div class="column is-4-desktop is-12-tablet">
                <label class="title">Para veterinario</label>
                <div class="content is-medium">
                <p>Nuetros amiguitos tambien necesitan ayuda medica</p>
                </div>
                <figure class="image image is-4by3">
                    <img src='{% static "img/vet.jpg" %}' alt="Placeholder image">
                </figure>
                <br>
                <a href="http://www.paypal.com" class="button is-info is-outlined"> Donar para veterinario</a>
            </div>
            <div class="column is-4-desktop is-12-tablet">
                <label class="title">Para gastos generales</label>
                <div class="content is-medium">
                <p>El refugio tiene diferentes gastos para mantenerse abierto.</p>
                </div>     
                <figure class="image image is-4by3">
                    <img src='{% static "img/cat.jpeg" %}' alt="Placeholder image">
                </figure>
                <br>
                <a href="http://www.paypal.com" class="button is-info is-outlined"> Donar para gastos generales</a>
            </div>
        </div>
        <h1 class="title center margin-top">Voluntarios</h1>
        <div class="column is-half-desktop">
            <div class="content is-medium">
            <p>Si estas interesado en colaborar con nosotros de foma voluntario estariamos muy agradecidos. Puedes ponerte en contacto
                con nosotros en la pestanha de
                <a href="{% url 'contact' %}"> contacto.</a>
            </p>
        </div>
        </div>
    </section>
</div>
{% endblock content %}