{% extends 'webapp/base.html' %} {% block content %} {% include 'webapp/navbar.html' %}

<section class="section">
  <div class="container">
    <div class='columns is-multiline'>
      {% for animal in animals %}
      <div class='column is-4'>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://loremflickr.com/300/240/dog?random={{animal.pk}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">

            <div class="media-content">
              <a class="title is-4" href="{% url 'animal_detail' pk=animal.pk %}">{{animal.name}} {% if animal.state == 'AVAILABLE' %}
                <span class="tag is-success">{{animal.get_state_display}}</span>
                </h1>
                {% else %}
                <span class="tag is-danger">{{animal.get_state_display}}</span>
                </h1>
                {% endif %}
              </a>
            </div>
            <div class="content">
              {{animal.description}}
              <br>
            </div>
            <p>Fecha nacimiento</p>
            <time>{{animal.birth_date}}</time>
            <p>Fecha de llegada</p>
            <time>{{animal.entry_date}}</time>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <span class="step-links">
        {% if animals.has_previous %}
        <a class="pagination-next" href="?page={{ 1 }}">
          <i class="fas fa-angle-double-left"></i>
        </a>
        <a class="pagination-next" href="?page={{ animals.previous_page_number }}">
          <i class="fas fa-angle-left"></i>
        </a>
        {% else %}
        <a class="pagination-next" title="Disabled button" disabled>
          <i class="fas fa-angle-double-left"></i>
        </a>
        <a class="pagination-next" title="Disabled button" disabled>
          <i class="fas fa-chevron-left"></i>
        </a>
        {% endif %}
        <span class="current">
          {{ animals.number }} de {{ animals.paginator.num_pages }}.
        </span>
        {% if animals.has_next %}
        <a class="pagination-next" href="?page={{ animals.next_page_number }}">
          <i class="fas fa-angle-right"></i>
        </a>
        <a class="pagination-next" href="?page={{ animals.paginator.num_pages }}">
          <i class="fas fa-angle-double-right"></i>
        </a>
        {% else %}
        <a class="pagination-next" title="Disabled button" disabled>
          <i class="fas fa-angle-right"></i>
        </a>
        <a class="pagination-next" title="Disabled button" disabled>
          <i class="fas fa-angle-double-right"></i>
        </a>
        {% endif %}
      </span>
    </nav>
</section>
{% endblock content %}