<nav class="navbar is-info is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbar_content">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navbar_content">
    <div class="navbar-start">
      <a class="navbar-item" id="home" href="{% url 'Home' %}">Inicio</a>
      <a class="navbar-item" id="frequentQuestions" href="{% url 'FrequentQuestions' %}">Preguntas Frequentes</a>
      <a class="navbar-item" id="aboutUs" href="{% url 'AboutUs' %}">Quienes somos</a>
      <a class="navbar-item" id="help" href="{% url 'Help' %}">Ayudanos!</a>
      <a class="navbar-item" id="contact" href="{% url 'Contact' %}">Contacto</a>
    </div>
  </div>
</nav>

