<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbar_content">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navbar_content">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'HomeView' %}">Inicio</a>
      <a class="navbar-item" href="{% url 'FrequentQuestions' %}">Preguntas Frequentes</a>
      <a class="navbar-item" href="{% url 'AboutUs' %}">Quienes somos</a>
      <a class="navbar-item" href="#">Ayudanos!</a>
      <a class="navbar-item" href="#">Contacto</a>
    </div>
  </div>
</nav>

