.container {
    margin-top: 1em;
}

.logo {
    font-family: 'Luckiest Guy', cursive;
}

.navbar {
    height: 3.5rem;
}

.foot {
    font-size: 2rem;
}

.center {
    text-align: center;
}

.foot-icon {
    font-size: 1.5em;
    color: black;
}
.error-icon{
    font-size: 4rem;
    color: black;
}
.dates {
    border-left: 1px solid;
}

.card {
    /* height: 41rem; */
}
.eror404title{
font-size: 5rem;
}
.eror404subtitle{
    font-size: 1.5rem;
}